{% extends 'global/base.html' %}

{% block title %}
  MFA
{% endblock %}

{% block content %}
  <div class="card col-md-6 mx-auto">
    <div class="card-body">
      <h1 class="card-title mb-3">MFA</h1>
      <form class="row g-3" action="{{ form_mfa_action }}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ user_id }}" />
        <input type="number" class="form-control" id="otp_code" name="otp_code" placeholder="Código" required />
        <button type="submit" class="btn btn-primary col-md-12">Enviar</button>
      </form>
    </div>
  </div>
{% endblock %}
