{% extends 'global/base.html' %}
{% comment %} form on profile page to change password {% endcomment %}
{% load static %}

{% block title %}
  Alterar Senha
{% endblock %}

{% block path %}
  <span><a href="{% url 'home' %}" class="link-secondary link-underline-opacity-25">Início</a></span>
  <span>&gt;</span>
  <span><a href="{% url 'profile' %}" class="link-secondary link-underline-opacity-25">Perfil</a></span>
  <span>&gt;</span>
  <span><a href="{% url 'edit' %}" class="link-secondary link-underline-opacity-25">Editar</a></span>
  <span>&gt;</span>
  <span class="text-secondary">Alterar Senha</span>
{% endblock %}

{% block content %}
  <div class="card col-md-12 mx-auto">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-3">
        <h1 class="card-title">Alterar Senha</h1>
      </div>
      <form class="row g-3" method="POST">
        {% csrf_token %}

        {% for field in form %}
          <div class="col-sm-4">
            <label class="form-label mt-1" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>

            {{ field }}

            {% if field.errors %}
              <div class="text-danger">
                {% for error in field.errors %}
                  <small>{{ error }}</small>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        {% endfor %}

        <div class="col-12 d-flex align-items-center justify-content-between">
          <div></div>
          <div>
            <a class="btn btn-secondary" href="{{ return_page_action }}" role="button">Cancelar</a>
            <button type="submit" class="btn btn-primary">Confirmar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script src="{% static 'js/check_changes_in_form.js' %}"></script>

{% endblock %}