{% extends 'global/base.html' %}
{% comment %} email request to reset password {% endcomment %}

{% block title %}
  Alterar Senha
{% endblock %}

{% block content %}
  <div class="card col-md-6 mx-auto">
    <div class="card-body">
      <h1 class="card-title mb-3">Alterar Senha</h1>
      <form class="row g-3" method="POST">
        {% csrf_token %}
        <input class="form-control" type="email" name="email" placeholder="Digite seu e-mail" required />
        {% comment %} <input class="form-control" type="password" name="password" placeholder="Nova senha" minlength="8" required /> {% endcomment %}
        <button type="submit" class="btn btn-primary">Confirmar</button>
        <a class="btn btn-secondary" href="{% url "login" %}" role="button">Cancelar</a>
      </form>
    </div>
  </div>
{% endblock %}