{% extends 'global/base.html' %}
{% comment %}email request to reset password{% endcomment %}

{% block title %}
  Requisitar Redefinição de Senha
{% endblock %}

{% block content %}
  <div class="card col-md-6 mx-auto">
    <div class="card-body">
      <h1 class="card-title mb-3">Requisitar Redefinição de Senha</h1>
      <form class="row g-3" method="POST">
        {% csrf_token %}
        <input class="form-control" type="email" name="email" placeholder="Digite seu e-mail" required />
        <button type="submit" class="btn btn-primary">Confirmar</button>
        <a class="btn btn-secondary" href="{{ return_page_action }}" role="button">Cancelar</a>
      </form>
    </div>
  </div>
{% endblock %}
