{% extends 'global/base.html' %}

{% block title %}
  Usuários Ativos
{% endblock %}

{% block path %}
  <span><a href="{% url 'home' %}" class="link-secondary link-underline-opacity-25">Início</a></span>
  <span>&gt;</span>
  <span class="text-secondary">Usuários</span>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 my-4">
    <h2 class="">Usuários ({{ users_qt }})</h2>
    <div class="d-flex align-items-center gap-2 ms-auto">
      {% if deactivated %}
        <a class="btn btn-light border" href="{% url 'active_users' %}" role="button">Ativos</a>
      {% else %}
        <a class="btn btn-light border" href="{% url 'deactivated_users' %}" role="button">Desativados</a>
      {% endif %}
      {% if can_manage_users %}
        <a href="{% url 'register' %}" class="btn btn-primary d-flex align-items-center ms-auto"><span class="d-none d-sm-block">Adicionar</span><i class="bi bi-plus"></i></a>
      {% endif %}
    </div>
  </div>

  <div class="d-flex row g-2 mb-2">
    {% include 'global/partials/search_table.html' %}
  </div>

  {% include 'users/partials/tb_users.html' %}

{% endblock %}